<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="APARTMAN_OTOMASYONU11.Properties.Settings.apartmanuygulamasıConnectionString"
            connectionString="Data Source=TOSHIBA;Initial Catalog=apartmanuygulaması;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>